# JetBrains
*.iml
.idea/

# Apple macOS
*.DS_Store

# Python modules, setuptools distribution folder, egg metadata.
*.pyc
/dist/
/build/
*.egg-info
.eggs/
.cache/

# Maven
*target/

# Eclipse
*.classpath
*.project
*.settings/
*eclipse-classes/

# Configuration
passwords.ini
variables.ini
dataservices.ini
dataservices_pw.ini
